body {
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 32px;
}

#infoGeneral {
    font-size: 52px;
    font-weight: bold;
    margin-left: 15px;
}

.abreviatura {
    cursor: pointer;
    font-size: 16px;
    width: 50px;
    height: 30px;
}

#infoRezos {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
}

#infoNavegacion {
    font-weight: bold;
    margin-left: 15px;
}

.botonNavegacion {
    font-size: 32px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 290px;
    height: 70px;
    cursor: pointer;
}
